body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    background-color: #b8860b;
    text-align: center;
    padding-top: 50px; 
    padding-bottom: 50px;
}

h1, h2{
    font-family: 'Baloo Bhai', cursive;
}

Header h1{
    color: white;
    font-size: 50px;
    
}

header img{
    border-radius: 170px;
    width: 300px;
    border: 10px solid black;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

main img{
    max-width: 100%;
}

h2{
    font-size: 35px;
    color: #b8860b;
}


