body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
}
/* header styles*/
header{
    background-color: #b8860b;
    text-align: center;
    padding-top: 50px; 
    padding-bottom: 50px;
}

h1, h2{
    font-family: 'Baloo Bhai', cursive;
}

Header h1{
    color: white;
    font-size: 50px;
    
}

header img{
    border-radius: 170px;
    width: 300px;
    border: 10px solid black;
}
/* main styles*/
main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: rgb(153,153,153);
    background: radial-gradient(circle, rgba(153,153,153,1) 0%, rgba(184,134,11,1) 100%);
}

main img{
    max-width: 100%;
}

h2{
    font-size: 30px;
    color: #b8860b;
    margin: 40px 0 10px; 
}
a{
 color: #b8860b;   
}
a:hover{
    color: black;
}
/* footer styles*/
Footer{
    background-color: #b8860b;
    text-align: center;
    color: white;
    padding: 50px;
}
footer p{
    margin: 0;
}

footer a{
    color: white;
}

p.Caption{
    color: #999999;
    font-style: italics;
    margin-top: 0px;
}

